# Frontend Environment Variables

## Development Configuration
REACT_APP_API_URL=http://localhost:5000
REACT_APP_VAPID_PUBLIC_KEY=BHEqJuMq_lA4pkbVZW7-BFT4SWzawkKn-HFDuviKKY-Y7A2S8u2bFhoKQO85ECyyLBdZrfJBsPxg5lYcz58L6dY
